@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Quicksand:wght@600&family=Tektur:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300&family=Quicksand:wght@600&family=Tektur:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SECCION HEADER👇*/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    background-color: #1b1d1d;
}

.header__div__left{
    font-size: 1.50rem;
}

.header__div__logo{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: rgb(255, 255, 255);

    font-family: 'Tektur', sans-serif;
}

.header__div__right{
    display: flex;
    align-items: center;
}

.header__div__right__sons{
    padding: 10px;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.15rem;
}

.header__div__right__sons__left{
    padding: 10px;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.15rem;
}

.header__div__right__items{
    text-decoration: none;
    color: white;
}
.header__div__right__items:hover{
   color: #FFC800;
   text-decoration: underline 2px #FFC800;
}

.header__div__right__item{
    text-decoration: none;
    color: white;
    font-size: 1.09rem;
}
.header__div__right__item:hover{
    text-decoration: none;
    color: #FFC800;
}

.separador{
    font-size: 1.20rem;
    font-weight: 600;
    color: white;
}

.numero__carrito{
    border-radius: 20px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;

    padding: 2px 4px 2px 4px;

    margin-left: 3px;
}

/**********/

.header__media__quaries{
    display: none;
}

.header__volver{
    font-size: 2rem;

    display: flex;
    flex-direction: row;

    font-family: 'Quicksand', sans-serif;
    color: #FFC800;
    text-decoration: none;

    padding-bottom: 30px;
}
    
.header__media__quaries__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__media__quaries__logo{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: rgb(255, 255, 255);

    font-family: 'Tektur', sans-serif;
    font-size: 3rem;
}

.header__media__quaries__secciones__pather{
    padding: 20px;
}

.header__media__quaries__secciones{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.45rem;
    color: white;
    text-decoration: none;
}

/**********/

/*SECCION INICIO👇*/

.main__inicio{
    background-image: url(../img/heroo.png);
    background-position: center;
    background-size: cover;

    min-height: 60.5vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 170px;
}

.main__section__inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__section__1{
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px #FFC800;

    color: white;
}

.main__section__2{
    font-size: 4rem;
    color: white;

    font-family: 'Bebas Neue', sans-serif;
}

.main__section__3{
    font-size: 2rem;
    text-align: center;

    font-family: 'Bebas Neue', sans-serif;
}

.main__section__3__item{
    text-decoration: none;
    border-radius: 20px;
    background-color:  #FFC800;
    color: white;

    padding: 10px 5px 10px 5px;

    transition: 0.5s;
}
.main__section__3__item:hover{
    background-color:  white;
    color: #FFC800;
}

.separado__svg{
}

/************/

/***Seccion marcas***/
.section__marcas{
    background-color: #1b1d1d;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-direction: column;
}

.section__marcas__titulo{
    color: white;
    font-size: 2.50rem;
    font-family: 'Quicksand', sans-serif;

    margin-top: 100px;
    margin-bottom: 50px;
}

.div__marcas{
    background-color: grey;
    border-radius: 30px;
    box-shadow: 10px 10px 11px 0px rgba(255,200,0,0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(255,200,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(255,200,0,0.75);
    
    height: 450px;
    width: 1650px;

    display: flex;
    align-items: center;
}

.div__secundario__marcas{
    /*background-color: rgba(255,200,0,0.75);*/
    background-color: grey;
    border-radius: 20px;

    min-height: 400px;
    width: 300px;

    display: inline-block;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
    transition: 0.5s;

    flex-wrap: wrap;
}
.div__secundario__marcas:hover{
    transform: scale(1.05)
}

.imagenes__marcas{
    min-height: 400px;
    width: 280px;

    border-radius: 20px;
}
/************/

/***Seccion destacado gamer***/

.section__gaming{
    background-color: #f3f4f5;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.section__gaming__titulo{
    color: rgb(5, 5, 5);
    font-size: 2.50rem;
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 50px;
    margin-top: 40px;   
}

.div__gaming{
    background-color: grey;
    border-radius: 30px;
    box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
    
    height: 450px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.div__secundario__gaming__hero{
    background-image: url(../img/img.seccion.gamerSection.jpg);
    background-clip: padding-box; /* Ajusta el fondo al área de relleno y contenido */
    background-position: center;
    background-size: cover;

    min-height: 450px;
    width: 300px;
    border-radius: 30px; /* Añade el mismo valor de border-radius que el contenedor principal */
}

.div__secundario__gaming{
    background-color: white;
    border-radius: 20px;

    min-height: 400px;
    width: 300px;

    display: inline-block;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
    transition: 0.5s;

    flex-wrap: wrap;
}
.div__secundario__gaming:hover{
    transform: scale(1.05)
}

.imagenes__gaming{
    min-height: 300px;
    width: 280px;

    border-radius: 20px;
}

.div__secundario__img__gaming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background-color: #1b1d1d;*/
}

.div__gaming__valor{
    color: black;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
}

.div__gaming__tittle{
    color: grey;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
}
/************/


/***Seccion Notebooks***/

.separador__gameOn{
    margin-bottom: 50px;
    margin-top: 40px;   
}

.separador__gameOn__2{
    border-radius: 50px;
}

.section__notebook{
    background-color: #f3f4f5;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.section__notebook__titulo{
    color: rgb(5, 5, 5);
    font-size: 2.50rem;
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 50px;
    margin-top: 50px;   
}

.div_notebook{
    background-color: grey;
    border-radius: 30px;
    box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
    
    height: 450px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.div__secundario__notebook__hero{
    background-image: url(../img/img.seccion.notebookSection.jpg);
    background-clip: padding-box; /* Ajusta el fondo al área de relleno y contenido */
    background-position: center;
    background-size: cover;

    min-height: 450px;
    width: 300px;
    border-radius: 30px; /* Añade el mismo valor de border-radius que el contenedor principal */
}

.div__secundario__notebook{
    background-color: white;
    border-radius: 20px;

    min-height: 400px;
    width: 300px;

    display: inline-block;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
    transition: 0.5s;

    flex-wrap: wrap;
}

.div__secundario__notebook:hover{
    transform: scale(1.05)
}

.imagenes__notebook{
    display: flex;
    justify-content: center;

    min-height: 280px;
    width: 290px;

    border-radius: 20px;
}

.div__secundario__img__notebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__notebook__valor{
    color: black;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
}

.div__notebook__tittle{
    color: grey;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
}
/**********/

/*SECCION ITEM-ORDER*/

.item__order{
    background-color: #FFC800;

    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.item__order__2{
    color: black;

    font-family: 'Jost', sans-serif;

    gap: 100px;
    font-size: 1.40rem;
}

.item__order__3{
    color: black;

    font-family: 'Jost', sans-serif;

    display: flex;
    align-items: center;
    font-size: 1.20rem;
}
/************/

/*SECCION TIENDA👇*/

.main__tienda{
    background-color: #ffffff;
    min-height: 70.5vh;
}

.tienda__seccion{
    display: flex;
    justify-content: center;
    list-style: none;

    background-color: #ddad00;
}

.tienda__secciones{
    border: none;
    background-color: transparent;

    font-size: 1.15rem;
    font-family: 'Quicksand', sans-serif;

    padding: 15px;
}
.tienda__secciones:hover{
    text-decoration: underline 2px black;
}

.incons-secciones{
    font-size: 1.30rem;
    margin-left: 2px;
}

/************/

.productos {
    display: flex;
    justify-content: center;
    margin: 10px;

    flex-wrap: wrap;
}

.cajas__productos {
    background-color: #d6d6d6;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 0.5px solid black;

    box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.75);
}

.productos__img {
    width: 300px;
    min-height: 300px;
}

.cajas__productos__titulo {
    font-family: 'Quicksand', sans-serif;

    display: flex;
    justify-content: center;
}

.cajas__productos__button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.20rem;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
}

.div__productos-agregar{
    display: flex;
    justify-content: center;
}

.cajas__productos__parrafo__descripcion{
    display: flex;
    justify-content: center;

    font-family: 'Quicksand', sans-serif;

    color: #adadad;
}

.agregar__carrito{
    background-color: #171717;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.95rem;

    color: rgb(233, 231, 231);
    font-family: 'Quicksand', sans-serif;

    transition: 0.3s;
}
.agregar__carrito:hover{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;

    color: rgba(0, 0, 0, 0.75);
    font-family: 'Quicksand', sans-serif;
}

/***************/
/***************/

/*SECCION CONTACTO👇*/

.section__contacto{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
    background-color: #f3f4f5;
}

.form__contacto{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    width: 450px;

    font-family: 'Quicksand', sans-serif;

    background: linear-gradient(to bottom, #ffffff, #ffd700); /* Blanco a dorado */
}

.contacto__titulo{
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;

    font-size: 1.70rem;
}

.contacto__subtitulo{
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;

    color: #ddad00;
}

.form__div{
    display: flex;
    flex-direction: column;
}

.input__contacto{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;

    margin-bottom: 10px;

    color: black;
    font-family: 'Quicksand', sans-serif;
}

.input__contacto::placeholder {
    font-family: 'Quicksand', sans-serif;
}

.div__politicas{
    display: flex;

    padding-bottom: 10px;
}

.input__contacto__2{
    font-family: 'Quicksand', sans-serif;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;

    margin-bottom: 10px;

    transition: 0.3s;
}
.input__contacto__2:hover{
    background-color: black;
    color: white;
}

/*SECCION CARRITO👇*/

.main__carrito{
    background-color: #f3f4f5;
    min-height: 60vh;
}

.carrito__compras__titulo{
    display: flex;
    justify-content: center;
    
    padding: 20px;
}

.carrito__compras__parrafo__titulo{
    font-size: 1.70rem;
    font-family: 'Quicksand', sans-serif;
}

/*carrito vacio👇*/

.carrito__vacio{
    display: flex;
    justify-content: center;
}

.carrito__compras__parrafo__vacio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.30rem;
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    height: 150px;
    margin-top: 100px;
    background-color: #2c3030;
    border-radius: 25px;
    border: 0.5px #FFC800 solid;

    box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
}

/*carrito con productos👇*/

.contenedor__carrito{
    display: flex;
    justify-content: center;
}

.subcontenedor__carrito{
    width: 1100px;
    height: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2c3030;
    border-radius: 25px;
    border: 1px #FFC800 solid;
    font-family: 'Quicksand', sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
}

.imagen__carrito{
    background-color: white;
    border-radius: 20px;
    border: 1px #FFC800 solid;
}

.imagen__carrito__tamanio{
    width: 230px;
}

.nombre__producto__carrito{
    font-size: 1.40rem;
}

.cantidad__productos__carrito{
    font-size: 1.40rem;
}

.precio__por__unidad__carrito{
    font-size: 1.40rem;
}

.borrar__producto__carrito{

}

.remove__carrito{
    font-size: 1.80rem;
    text-decoration: none;
    color: rgb(75 75 75);
    background-color: #FFC800;
    border: rgb(75 75 75);
    border-radius: 10px;
    padding: 5px 3px 5px 3px;
}


/*carrito elementos total👇*/

.contenedor__carrito__elementos{
    display: flex;
    justify-content: center;
}

.subcontenedor__carrito__elementos{
    width: 500px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2c3030;
    border-radius: 25px;
    border: 1px #FFC800 solid;
    font-family: 'Quicksand', sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.75);
}

.borrar__carrito{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(75 75 75);
    background-color: #FFC800;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 5px 10px 10px;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    align-items: center;
}

.precio__por__unidad__carrito{
    font-size: 1.40rem;
}

.comprar__carrito{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(75 75 75);
    background-color: #FFC800;
    border: none;
    border-radius: 0px 10px 10px 00px;
    padding: 10px 5px 10px 10px;
    font-family: 'Quicksand', sans-serif;
}

.elementos__carrito{
    display: flex;
    align-items: center;
}


/*SECCION FOOTER👇*/

.footer{
    background-color: #1b1d1d;
    min-height: auto;
}

.container__footer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

.div__left__footer{

}

.footer__tittles{
    font-size: 1.10rem;
    color: #31a20f;
    font-family: 'Quicksand', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
}

.div__center__footer {
    margin-right: 110px;
}

.div__right__footer{

}

.div__footer__redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__redes{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #31a20f;
    color: white;
    font-size: 1.30rem;

    height: 42px;
    width: 42px;
    border-radius: 22px;

    transition: 0.3s;
}
.footer__redes:hover{
    font-size: 1.50rem;
}

.footer__AAC{
    padding: 15px;
}

.footer__AAC__2{
    color: rgb(198, 198, 198);
    font-family: 'Quicksand', sans-serif;
}

.footer__AAC__3{
    color: rgb(198, 198, 198);
    font-family: 'Quicksand', sans-serif;

    padding-top: 15px;
}

.footer__Copyright{
    font-family: 'Quicksand', sans-serif;
    color: rgb(198, 198, 198);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__Copyright__2{
    padding-bottom: 10px;
}

.footer__redes__personales{
    color: white;
}

/**********/

/** Seccion Media-quaries **/

@media (max-width:1495px){

    /*Inicio👇*/

    .div__marcas {
        height: 385px;
        width: 1350px;
    }

    .div__secundario__marcas {
        min-height: 300px;
        width: 300px;
    }

    .imagenes__marcas {
        min-height: 350px;
        width: 220px;
        border-radius: 20px;
    }

    .separado__svg{
        display: none;
    }
}

@media (max-width:1380px){

    /*Inicio👇*/

    .section__marcas {
        padding-bottom: 100px;
    }

    .section__marcas__titulo {
        font-size: 2.30rem;
        text-align: center;
    }

    /*Section gaming👇*/

    .div__marcas {
        height: auto; /* Ajustar la altura automáticamente */
        width: 430px; /* Ajustar el ancho automáticamente */
        padding: 20px; /* Agregar un poco de espacio alrededor del contenedor */
        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -webkit-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -moz-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
    }

    .section__marcas__titulo {
        font-size: 2.50rem;
    }

    .div__secundario__marcas {
        width: 100%; /* Ocupar todo el ancho disponible */
        margin: 10px 0; /* Espacio entre los elementos */
    }

    .imagenes__marcas {
        width: 100%; /* Ajustar la imagen al ancho del contenedor */
        height: auto; /* Ajustar la altura automáticamente */
    }

    .section__gaming__titulo {
        font-size: 2.30rem;
        text-align: center;
    }

    .div__gaming {
    padding: 20px; /* Añadido para dar espacio entre los elementos */
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    justify-content: space-around; /* Distribuye uniformemente los elementos */
    flex-wrap: wrap;
    }

    .div__secundario__gaming {
        min-height: 400px;
        width: 250px;
    }

    .imagenes__gaming {
    width: 250px;
    height: auto;
    border-radius: 20px;
    }

    .section__notebook__titulo {
        font-size: 2.30rem;
        text-align: center;
    }

    /*Section notebook👇*/

    .section__notebook__titulo {
        font-size: 2.30rem;
        text-align: center;
    }

    .div__notebook {
        padding: 20px; /* Añadido para dar espacio entre los elementos */
        display: flex;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor */
        justify-content: space-around; /* Distribuye uniformemente los elementos */
        flex-wrap: wrap;
        }
    
    .div__secundario__notebook {
        min-height: 400px;
        width: 250px;
    }
    
    .imagenes__notebook {
        width: 250px;
        height: auto;
        border-radius: 20px;
    }
    

}

@media (max-width:1325px){

    /*Contacto👇*/

    .form__contacto {
        margin: 40px;
    }

    /*Inicio👇*/

    .imagenes__gaming{
        width: 250px;
    }

    /*Inicio👇*/

    .div__gaming {
        background-color: grey;
        border-radius: 30px;
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .div__secundario__gaming__hero {
        min-height: 400px;
        width: 300px;
        border-radius: 30px;
    }

    .div__secundario__gaming {
        min-height: 400px;
        width: 300px;
    }

    .div__secundario__gaming {
        min-height: 400px;
        width: 250px;
    }

    /*Section notebook*/

    .div__notebook {
        background-color: grey;
        border-radius: 30px;
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .div__secundario__notebook__hero {
        min-height: 400px;
        width: 300px;
        border-radius: 30px;
    }

    .div__secundario__notebook {
        min-height: 400px;
        width: 300px;
    }

    .div__secundario__notebook {
        min-height: 400px;
        width: 250px;
    }
}

@media (max-width:1244px){

    /*Inicio👇*/

    .section__gaming{
        padding-bottom: 100px;
    }

    .div__gaming {
        height: auto;
        flex-direction: column;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div__secundario__gaming {
        min-height: 400px;
        width: 430px;

        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        display: flex;
    }

    .div__gaming {
        height: auto;
        flex-direction: column;
    }

    .div__secundario__gaming__hero {
        min-height: 480px;
        width: 430px;
        border-radius: 30px;

        margin-bottom: 20px;
        margin-top: 20px;
    }

    /*Section notebook👇*/

    .section__notebook{
        padding-bottom: 100px;
    }

    .div_notebook {
        position: relative; /* Establece la posición relativa para poder usar posición absoluta dentro */
        background-color: grey;
        border-radius: 30px;
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: space-between; 
    }
    
    .div__secundario__notebook {
        background-color: white;

        display: inline-block;
        justify-content: center;
        margin-right: 10px; 
        margin-left: 10px; 
        margin-top: 20px;
        margin-bottom: 20px; 
        padding-top: 20;
        padding-bottom: 20px;

        border-radius: 20px;
        min-height: 400px;
        width: 430px;
        display: inline-block;
        justify-content: center;

        transition: 0.5s;
    }
    
    .imagenes__notebook {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 280px;
        width: 290px;
        border-radius: 20px;
        margin-left: 75px;
    }
    
    .div__secundario__img__notebook {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div__secundario__notebook__hero {
        min-height: 480px;
        width: 430px;
        border-radius: 30px;

        margin-bottom: 20px;
        margin-top: 20px;
    }

}

@media (max-width:1024px){

    /*Inicio👇*/

    .main__inicio {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:950px){

    /*header👇*/

    .header__div__right__sons__left{
        display: none;
    }

    .separador{
        display: none;
    }   

    .header__media__quaries{
        display: flex;
    }

    /*header de media quaries👇*/

    .menu__mq{
        font-size: 2.70rem;
        color: white;
    }

    .header__media__quaries__section{
        min-height: 100vh;
        background-color: #1b1d1d;
    }
}

@media (max-width:768px){

    /*Footer👇*/

    .container__footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .div__center__footer {
        margin-right: 0px;
        display: flex;
        justify-content: center;

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer__Copyright {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        padding: 5px;
    }

    /*Inicio👇*/

    .section__marcas {
        padding-bottom: 100px;
    }

    .div__marcas {
        height: auto; /* Ajustar la altura automáticamente */
        width: 300px; /* Ajustar el ancho automáticamente */
        padding: 20px; /* Agregar un poco de espacio alrededor del contenedor */
        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -webkit-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -moz-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
    }

    .section__marcas__titulo {
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .div__secundario__marcas {
        width: 100%; /* Ocupar todo el ancho disponible */
        margin: 10px 0; /* Espacio entre los elementos */
    }

    .imagenes__marcas {
        width: 100%; /* Ajustar la imagen al ancho del contenedor */
        height: auto; /* Ajustar la altura automáticamente */
    }

    .separado__svg{
        display: none;
    }

    .separador__gameOn__2 {
        width: 500px;
    }

    .div__gaming {
        width: 360px;
        align-items: flex-start;
    }

    .section__gaming__titulo {
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .div__secundario__gaming {
        min-height: 450px;
        width: 290px;

        margin-top: 20px;
        margin-bottom: 20px;

    }

    .div__secundario__gaming__hero {
        min-height: 450px;
        width: 320px;
        border-radius: 30px;

        margin: 8px;
    }

    /*Section notebook👇*/

    .section__notebook__titulo {
        font-size: 2rem;

        padding-left: 10px;
        padding-right: 10px
    }

    .div_notebook {
        position: relative; /* Establece la posición relativa para poder usar posición absoluta dentro */
        background-color: grey;
        border-radius: 30px;
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
        height: auto;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: space-between; 
    }
    
    .div__secundario__notebook {
        background-color: white;

        display: inline-block;
        justify-content: center;
        margin-right: 10px; 
        margin-left: 10px; 
        margin-top: 20px;
        margin-bottom: 20px; 
        padding-top: 20;
        padding-bottom: 20px;

        border-radius: 20px;
        min-height: 450px;
        width: 290px;
        display: inline-block;
        justify-content: center;

        transition: 0.5s;
    }
    
    .imagenes__notebook {
        min-height: 280px;
        width: 250px;
        margin-left: 20px;
    }

    .div__secundario__notebook__hero {
        min-height: 450px;
        width: 320px;
        border-radius: 30px;
    }
}

@media (max-width:705px){

    /*header👇*/

    .header__div__left {
        font-size: 1.00rem;
    }

}

@media (max-width:675px){

    /*Inicio👇*/

    .main__section__1 {
        font-size: 4rem;
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
        -webkit-text-stroke: 1.5px #FFC800;
        color: white;
    }

    .main__section__2 {
        font-size: 3rem;
        padding-bottom: 15px;
    }


}

@media (max-width:550px){

    /*Tienda👇*/

    .tienda__secciones {
        font-size: 1.00rem;
        padding: 10px;
    }

    /*Inicio👇*/

    .main__inicio {
        min-height: 50.5vh;
    }

    .separador__gameOn__2 {
        width: 400px;
    }

}

@media (max-width:515px){

    /*header👇*/

    .header__div__left {
        font-size: 0.70rem;
    }

    .header__div__left {
        flex-direction: column;
    }

    /*Contacto👇*/

    .section__contacto {
        min-height: 90vh;
    }

    .form__contacto {
        width: 400px;
    }

    /*Inicio👇*/
    .main__inicio {
        min-height: 48.5vh;
    }

}

@media (max-width:455px){

    /*header👇*/

    .header__div__right {
        display: flex;
        flex-direction: column;
    }

    .header__div__left {
        font-size: 0.65rem;
    }

    /*Contacto👇*/

    .form__contacto {
        width: 370px;
    }

}

@media (max-width:445px){

    /*Tienda👇*/

    .tienda__secciones {
        font-size: 0.90rem;
        padding: 5px;
    }

    .productos__img {
        width: 250px;
        min-height: 250px;
    }

    /*Inicio👇*/

    .main__inicio {
        min-height: 43.5vh;
    }

    .main__section__1 {
        font-size: 3.70rem;
    }

    .main__section__2 {
        font-size: 2.60rem;
        padding-bottom: 15px;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    .main__section__3 {
        font-size: 1.70rem;
    }

    .main__section__3__item {
        padding: 8px 3px 8px 3px;
    }

    .separador__gameOn__2 {
        width: 340px;
    }

}

@media (max-width: 425px) {
    .div__marcas {
        height: auto; /* Ajustar la altura automáticamente */
        width: 300px; /* Ajustar el ancho automáticamente */
        padding: 20px; /* Agregar un poco de espacio alrededor del contenedor */
        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -webkit-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
        -moz-box-shadow: -2px 0px 56px 0px rgba(255,200,0,0.75);
    }

    .section__marcas__titulo {
        font-size: 1.60rem;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .div__secundario__marcas {
        width: 100%; /* Ocupar todo el ancho disponible */
        margin: 10px 0; /* Espacio entre los elementos */
    }

    .imagenes__marcas {
        width: 100%; /* Ajustar la imagen al ancho del contenedor */
        height: auto; /* Ajustar la altura automáticamente */
    }

    .section__gaming__titulo {
        font-size: 1.60rem;
    }

    .div__gaming {
        width: 320px;
        align-items: center;
    }

    .section__gaming__titulo {
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .div__secundario__gaming {
        min-height: auto;
        width: 250px;

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .div__secundario__gaming__hero {
        min-height: 350px;
        width: 260px;
        border-radius: 30px;

        margin: 8px;
    }

    .div__gaming__valor {
        font-size: 1.5rem;
    }

    .imagenes__gaming {
        width: 260px;
    }

    /*Section Notebook*/

    .div_notebook {
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 11px 0px rgba(3, 3, 3, 0.75);
        height: auto;
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    
    .div__secundario__notebook {
        background-color: white;

        display: inline-block;
        justify-content: center;
        margin-right: 10px; 
        margin-left: 10px; 
        margin-top: 20px;
        margin-bottom: 20px; 
        padding-top: 20;
        padding-bottom: 20px;

        border-radius: 20px;
        min-height: 420px;
        width: 250px;
        display: inline-block;
        justify-content: center;

        transition: 0.5s;
    }
    
    .imagenes__notebook {
        min-height: 280px;
        width: 240px;
        margin-left: 5px;
    }

    .div__secundario__notebook__hero {
        min-height: 350px;
        width: 260px;
    }
}

@media (max-width:375px){

    /*header👇*/

    .header {
        display: flex;
        justify-content: space-around;
        flex-direction: column; /*Cambio a estado de column en header*/
        align-items: center;
    }

    .header__div__left {
        font-size: 0.75rem;
    }

    /*Inicio👇*/

    .main__inicio {
        min-height: 43.5vh;
    }

    .main__section__1 {
        font-size: 3.50rem;
    }

    .main__section__2 {
        font-size: 2.4rem;
    }

    .main__section__3 {
        font-size: 1.50rem;
    }

    .main__section__3__item {
        padding: 8px 3px 8px 3px;
    }

    /*Tienda👇*/

    .productos__img {
        width: 230px;
        min-height: 230px;
    }

    /*Contacto👇*/

    .form__contacto {
        width: 280px;
    }

}

@media (max-width:360px){

    /*Tienda👇*/

    .tienda__seccion {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .tienda__secciones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productos__img {
        width: 200px;
        min-height: 200px;
    }

   .ul__tienda{
    display: flex;
    justify-content: center;
   }

  /*Inicio👇*/

  .div__marcas {
    height: auto;
    width: 285px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

   .separador__gameOn__2 {
     width: 300px;
   }

   .div__gaming {
    width: 290px;
    align-items: center;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.section__gaming__titulo {
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.div__secundario__gaming {
    min-height: auto;
    width: 240px;

    margin-top: 10px;
    margin-bottom: 10px;

    margin-right: 0px;
    margin-left: 0px;
}

.div__secundario__gaming__hero {
    min-height: 350px;
    width: 260px;
    border-radius: 30px;

    margin: 0px;
}

.div__gaming__valor {
    font-size: 1.5rem;
}

.imagenes__gaming {
    width: 250px;
}

.section__notebook__titulo {
    font-size: 1.80rem;
}

/*Section Notebook*/

.div_notebook {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    height: auto;
    width: 290px;
    display: flex;
    flex-direction: column;
}

.div__secundario__notebook {
    background-color: white;

    display: inline-block;
    justify-content: center;
    margin-right: 0px; 
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    padding-top: 20;
    padding-bottom: 20px;

    border-radius: 20px;
    min-height: 420px;
    width: 240px;
    display: inline-block;
    justify-content: center;

    transition: 0.5s;
}

.imagenes__notebook {
    min-height: 280px;
    width: 230px;
    margin-left: 5px;
}

.div__secundario__notebook__hero {
    min-height: 350px;
    width: 240px;
}
}



