* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 5px 13px 0px rgba(192,0,0,0.75);
    -webkit-box-shadow: 0px 5px 13px 0px rgba(192,0,0,0.75);
    -moz-box-shadow: 0px 5px 13px 0px rgba(192,0,0,0.75);
}

.div_left_header {
    padding: 30px;
}

.div_right_header {
    padding: 30px;
    display: flex;
    gap: 1rem;
}

.img__header {
    width: 120px;
}

.sections__header{
    text-decoration: none;
    color: black;
    font-size: 1.50rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    
    background-color: #C00000;

    transition: 0.2s;
}
.sections__header:hover{
    padding: 7px 12px 7px 12px;
    background-color: black;
    color: #C00000;

    border: 2px solid #C00000;
}

/*...*/

.productos__titulo {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px red;

    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.productos {
    display: flex;
    justify-content: space-around;
}

.cajas__productos {
    background-color: #bd2e2e;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

.productos__img {
    width: 300px;
}

.cajas__productos__titulo {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cajas__productos__button {
    text-decoration: underline 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.20rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*...*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 165px;

    box-shadow: 0px -5px 13px 0px rgba(192,0,0,0.76);
    -webkit-box-shadow: 0px -5px 13px 0px rgba(192,0,0,0.76);
    -moz-box-shadow: 0px -5px 13px 0px rgba(192,0,0,0.76);
}

.div__footer{
    display: flex;
    align-items: center;

    transition: 0.4s;
}

.enlace__footer{
    text-decoration: none;
    color: black;

    font-size: 5rem
}

.enlace__footer:hover {
    color: rgba(192,0,0,0.76);

    font-size: 5.50rem
}

